<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Show</title>
</head>
<body>
    <a th:href="@{/main/create}">Add new product</a>
    <table border="5px">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Price</th>
                <th>Producer</th>
                <th>Delete</th>
                <th>Update</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody th:each="product : ${products}">
            <tr>
                <td th:text="${product.id}"></td>
                <td th:text="${product.name}"></td>
                <td th:text="${product.price}"></td>
                <td th:text="${product.producer}"></td>
                <td><a th:href="@{/main/delete/{name}(name=${product.name})}">Delete</a></td>
                <td><a th:href="@{/main/update/{name}(name=${product.name})}">Update</a></td>
                <td><a th:href="@{/main/description/{name}(name=${product.name})}">Description</a></td>
            </tr>
        </tbody>
    </table>
</body>
</html>