<p>register-component works!</p>
<form [formGroup]="contactForm" (ngSubmit)="registerUser()" novalidate>
    <p>
      <label for="email">Email: </label>
      <input type="email" id="email" name="email" formControlName="email">
    </p>

    <div
        *ngIf="!email?.valid && (email?.dirty||email?.touched)">
         Email is not valid
    </div>

    <!-- <div
    *ngIf="!contactForm.controls.email?.valid && (contactForm.controls.email?.dirty
    ||contactForm.controls.email?.touched)">
      First Name is not valid
    </div> -->
    
    <p>
      <label for="password">Password </label>
      <input type="password" id="password" name="password" formControlName="password">
    </p>
   
    <p>
      <label for="confirmPassword">Confirm password </label>
      <input type="password" id="confirmPassword" name="confirmPassword" formControlName="confirmPassword">
    </p>
   
    <p>
      <label for="gender">Gender </label>
      <input type="radio" value="male" id="gender" name="gender" formControlName="gender"> Male
      <input type="radio" value="female" id="gender" name="gender" formControlName="gender"> Female
    </p>
   
    <p>
      <label for="country">country </label>
      <select id="country" name="country"  formControlName="country">
        <option [ngValue]="c.id" *ngFor="let c of countryList">
          
        </option>
      </select>
    </p>

    <p>
        <label for="phone">Phone </label>
        <input type="tel" id="phone" name="phone" formControlName="phone">  
    </p>
   
    <p>
      <button type="submit" [disabled]="!contactForm.valid">Submit</button>
    </p>
  </form>