body {
    margin: 0;
}
#main {
    height: 1000px;
    width: 75%;
    float: left;
}
#sidebar {
    background-color: rgb(194, 194, 194);
    height: 1000px;
    width: 25%;
    float: left;
}
#footer {
    background-color: rgb(92, 92, 92);
    height: 100px;
    width: 100%;
    clear: both;
}
#logo {
    height: 50px;
    width: 50px;
}
#name{
    margin-left: 90%    ;
}
#form-create{
    margin-top: 15px;
    margin-left: 15px;
    margin-right: 15px;
}
