<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Show</title>
    <style>
        .header-banner {
            background-color: #333;
            background-image: url('https://37.media.tumblr.com/8b4969985e84b2aa1ac8d3449475f1af/tumblr_n3iftvUesn1snvqtdo1_1280.jpg');
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            width: 100%;
            height: 200px;
        }
    </style>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <link rel="stylesheet" href="/Layout.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
<div id="header">
    <div class="header-banner">
        <h1>Info Sale Management</h1>
    </div>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" th:href="@{/main/home}">Home</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                           aria-expanded="false">
                            Info sale
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" th:href="@{/main/show2}">List</a></li>
                            <li><a class="dropdown-item" th:href="@{/main/create}">Create</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                        </ul>
                    </li>
                </ul>
                <form class="d-flex" th:action="@{/main/show}" method="get">
                    <input name="searchInfo" class="form-control me-2" type="text" placeholder="Search"
                           aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
                <form class="d-flex" th:action="@{/main/findByRateSale}" method="get">
                    <input name="searchInfo" class="form-control me-2" type="text" placeholder="Search by rate Sale"
                           aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
            </div>
        </div>
    </nav>
</div>

<div id="sidebar">
</div>

<div id="main">
    <table class="table">
        <thead>
        <tr>
            <th>Name</th>
            <th>Begin Date</th>
            <th>End date</th>
            <th>Rate sale</th>
            <th>Detail</th>
            <th>Update</th>
            <th>Delete</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="infoSale : ${infoSales}">
            <td th:text="${infoSale.nameSale}"></td>
            <td th:text="${infoSale.beginDate}"></td>
            <td th:text="${infoSale.endDate}"></td>
            <td th:text="${infoSale.rateSale}"></td>
            <td th:text="${infoSale.detail}"></td>
            <!--      Modal -->
            <td>
                <button type="button" class="btn btn-danger" data-bs-toggle="modal"
                        data-bs-target="#exampleModal" th:data-bs-customer="${infoSale.nameSale}">Delete
                </button>
            </td>
            <td><a th:href="@{/main/update/{idSale}(idSale=${infoSale.idSale})}">
                <button type="button" class="btn btn-primary">Update</button>
            </a></td>
        </tr>
        </tbody>
    </table>
</div>
<!--Modal<Hiển thị thông báo>-->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="content-display">
                Confirm delete
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <a href="#" id="deleteButton">
                    <button type="button" class="btn btn-primary">Delete</button>
                </a>
            </div>
        </div>
    </div>
</div>
<!--Script lấy customer.id-->
<script>
    const exampleModal = document.getElementById("exampleModal");
    exampleModal.addEventListener('show.bs.modal', event => {
        const button = event.relatedTarget;
        const nameSale = button.getAttribute('data-bs-customer');
        document.getElementById('content-display').innerText = "Do you want to delete customer have id= " + nameSale;
        document.getElementById('deleteButton').href = "/main/delete/" + nameSale;
    })
</script>
<div id="footer">
</div>
</body>
</html>