  <h1>Cập nhật thông tin sản phẩm</h1>
  <form [formGroup]="productForm" (ngSubmit)="updateProduct(id)">
    <table>
      <tr>
        <td>Mã sản phẩm:</td>
        <td><input type="number" formControlName="id" readonly value="{{product.id}}"></td>
      </tr>
      <tr>
        <td>Tên sản phẩm:</td>
        <td><input type="text" formControlName="name" value="{{product.name}}"></td>
      </tr>
      <tr>
        <td>Giá sản phẩm</td>
        <td><input type="number" formControlName="price" value="{{product.price}}"></td>
      </tr>
      <tr>
        <td>Mô tả về sản phẩm</td>
        <td><input type="text" formControlName="description" value="{{product.description}}"></td>
      </tr>
      <tr>
        <td>Loại</td>
        <td>
          <select formControlName="category" [compareWith]="compareFn">
            <option *ngFor="let category of categories"
                    [ngValue]="category">{{category.categoryName}}</option>
          </select>
        </td>
      </tr>
      <tr>
        <td></td>
        <td><button>Cập nhật</button></td>
      </tr>
    </table>
  </form>