<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a th:href="@{/main/borrowedList}">Borrowed History</a>
  <table border="2px">
    <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Quantity</th>
      <th>Borrow</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="titleBook : ${bookList}">
      <td th:text="${titleBook.title}"></td>
      <td th:text="${titleBook.description}"></td>
      <td th:text="${titleBook.quantity}"></td>
      <td><a th:href="@{/main/borrow/{title}(title=${titleBook.title})}">Borrow</a></td>
    </tr>
    </tbody>
  </table>
</body>
</html>