<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>View Cart</title>
</head>
<body>
<table>
    <thead>
    <tr>
        <th>Name</th>
        <th>Quantity</th>
        <th>Price</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="item : ${items}">
        <td th:text="${item.key.itemName}"></td>
        <td th:text="${item.value}"></td>
        <td th:text="${item.key.price}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>