<p>login-c works!</p>
<form [formGroup]="contactForm" (ngSubmit)="login()" novalidate>
    <p>
      <label for="email">Email: </label>
      <input type="email" id="email" name="email" formControlName="email">
    </p>

    <div
        *ngIf="!email?.valid && (email?.dirty||email?.touched)">
         Email is not valid
    </div>

    <!-- <div
    *ngIf="!contactForm.controls.email?.valid && (contactForm.controls.email?.dirty
    ||contactForm.controls.email?.touched)">
      First Name is not valid
    </div> -->
    
    <p>
      <label for="password">Password </label>
      <input type="password" id="password" name="password" formControlName="password">
    </p>
   
    <p>
      <button type="submit" [disabled]="!contactForm.valid">Submit</button>
    </p>
  </form>