<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head></head>
<body>
<h3>Song List</h3>
<p>
    <a th:href="@{/main/create}">
        Add new product
    </a>
</p>
<table border="5px" id="songs">
    <thead>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Singer</th>
        <th>Type</th>
        <th>Song</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="song : ${songs}">
        <td th:text="${song.id}"></td>
        <td th:text="${song.name}"></td>
        <td th:text="${song.singer}"></td>
        <td th:text="${song.type}"></td>
        <td><audio controls>
            <source th:src="${song.inputSong}" type="audio/mpeg">
        </audio></td>
    </tr>
    </tbody>
</table>
</body>
</html>