<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update</title>
</head>
<body>
<form th:object="${product}" th:method="post" th:action="@{/main/create}">
    Id:
    <input th:field="*{id}" type="text" th:value="${product.id}" readonly>
    Name:
    <input th:field="*{nameProduct}" type="text" th:placeholder="${product.nameProduct}">
    Price:
    <input th:field="*{price}" type="text" th:placeholder="${product.price}">
    Manufacturer:
    <select th:field="*{manufacturer}" type="text" th:placeholder="${product.manufacturer.nameManufacturer}">
        <option th:each="manufacturer : ${manufacturers}"
                th:value="${manufacturer.idManufacturer}"
                th:text="${manufacturer.nameManufacturer}"></option>
    </select>
    <button type="submit">Submit</button>
    <button type="reset">Reset</button>
</form>
</body>
</html>