<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create</title>
</head>
<body>
    <form th:object="${blog}" th:action="save" method="post">
        Id
        <input th:field="*{id}" type="text">
        Name
        <input th:field="*{name}" type="text">
        Content
        <input th:field="*{content}" type="text">
        <button type="reset">Reset</button>
        <button type="submit">Submit</button>
    </form>
</body>
</html>